@page
@model IndexModel
@{
    ViewData["Title"] = "Wizyty online";
}

<div class="text-center">
    <h1 class="display-4">System umawiania wizyt online</h1>
    <p>Umów swoją wizytę już teraz!</p>
    <div>
        <img src="images/title.png" />
    </div>
    <div>
        No chyba, że chcesz jutro to też spoko, nie naciskam  
    </div>
</div>
